# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Database
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./dev.db

# Resend (email delivery)
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=onboarding@resend.dev
